@main {
    
    <h1>Confirm changes</h1>

    <h2>Changed rules</h2>

    <table>
        <body>
            @for(rule <- Rule.changedRules()) {
                <tr>
                    <td>
                        <input type="checkbox" name="enabled" title="Enabled" disabled="disabled"
                            @if(rule.enabled) { checked="checked" } />
                    </td>
                    <td>
                        <span class="braille">@rule</span>
                    </td>
                </tr>
            }
        </body>
    </table>

    <h2>Affected words</h2>

    <table>
        <thead>
            <tr>
                <th>Text</th>
                <th>Old</th>
                <th>New</th>
                <th>Expected</th>
                <th/>
            </tr>
        </thead>
        <tbody>
            @for(word <- Word.changedWords()) {
                <tr>
                    <td><a href="@routes.Application.editWord(word.id)">@word.text</a></td>
                    <td><span class="braille">@word.oldBraille</span></td>
                    <td><span class="braille">@word.braille</span></td>
                    <td><span class="braille">@word.expected</span></td>
                    <td>
                        @if(word.expected.equals(word.braille)) {
                            <span style="color: green"> ✔ </span>
                        } else {
                            <span style="color: red"> ✘ </span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <form action="@routes.Application.confirmChanges()" method="POST">
        <div class="actions">
            <input type="submit" value="Confirm"> or 
            <a href="@routes.Application.cancelChanges()" class="btn">Cancel</a>
        </div>
    </form>

}