@(rules: Set[Rule], words: Set[Word])

@main {
    
    <h2 class="page-header">Confirm your changes</h1>

    <h3 class="page-header">Changed rules</h3>

    <fieldset class="rules">
        <div class="control-group">
            @for(rule <- rules) {
                <form class="rule">
                    <input type="checkbox" name="enabled" title="Enabled" disabled="disabled"
                            @if(rule.enabled) { checked="checked" }>
                        <code class="rule">@rule</code>
                    </input>
                </form>
            }
        </div>
    </fieldset>

    <h3 class="page-header">Affected words <span class="badge">@words.size()</span></h3>

    <table class="table table-condensed words">
        <thead>
            <tr>
                <th>Text</th>
                <th>Braille</th>
            </tr>
        </thead>
        <tbody>
            @for(word <- words) {
                <tr>
                    <td>
                        <a class="edit-word" href="@routes.Application.editWord(word.id)">
                            <strong>@word.text</strong>
                            <i class="icon-pencil"> </i>
                        </a>
                    </td>
                    <td>
                        <a class="edit-word" href="@routes.Application.editWord(word.id)">
                            @if(word.expected.equals(word.prevBraille)) {
                                <code class="corrent-braille">@word.prevBraille</code>
                            } else {
                                <code class="wrong-braille">@word.prevBraille</code>
                            }
                            &rarr;
                            @if(word.expected.equals(word.braille)) {
                                <code class="corrent-braille">@word.braille</code>
                            } else {
                                <code class="wrong-braille">@word.braille</code>
                            }
                            @if(!word.expected.equals(word.braille) && !word.expected.equals(word.prevBraille)) {
                                &harr;
                                <code class="expected-braille">@word.expected</code>
                            }
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <form class="form" action="@routes.Application.confirmChanges()" method="POST">
        <input type="submit" value="Confirm" class="btn btn-warning">
        or <a href="@routes.Application.cancelChanges()" class="btn">Cancel</a>
    </form>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            $("a.edit-word").hover(function() {
                $(this).closest("tr").find("a.edit-word i").css("visibility", "inherit");
            },function(){
                $(this).closest("tr").find("a.edit-word i").css("visibility", "hidden");
           });
        });
    </script>
}