@(word: Word, applied: Iterator[Rule], unapplied: Iterator[Rule])

@main {
    
    <h2 class="page-header">Edit word
        <span class="lead">@word.text</span>
    </h2>

    @if(word.expected.equals(word.braille)) {
        <p><span class="label">Braille</span> <code class="correct-braille">@word.braille</code></p>
    } else {
        <p><span class="label">Braille</span> <code class="wrong-braille">@word.braille</code></p>
        <p><span class="label">Expected</span> <code class="expected-braille">@word.expected</code></p>
    }

    @if(applied.hasNext()) {

        <h3 class="page-header">Applied rules</h3>

        <fieldset class="rules">
            <div class="control-group">
                @for(rule <- applied) {
                    <form class="rule" action="@routes.Application.toggleRule(rule.id)" method="POST">
                        <input type="checkbox" onclick="parentNode.submit()" name="enabled" title="Toggle rule"
                                @if(rule.isReadOnly()) { disabled="disabled" }
                            @if(rule.enabled) { checked="checked" }>
                            <code class="rule">@rule</code>
                            @if(rule.changed) { <span class="badge"> changed </span> }
                        </input>
                    </form>
                }
            </div>
        </fieldset>
    }

    @if(unapplied.hasNext()) {

        <h3 class="page-header">Other rules</h3>

        <fieldset class="rules">
            <div class="control-group">
                @for(rule <- unapplied) {
                    <form class="rule" action="@routes.Application.toggleRule(rule.id)" method="POST">
                        <input type="checkbox" onclick="parentNode.submit()" name="enabled" title="Toggle rule"
                                @if(rule.isReadOnly()) { disabled="disabled" }
                                @if(rule.enabled) { checked="checked" }>
                            <code class="rule">@rule</code>
                            @if(rule.changed) { <i class="icon-exclamation-sign"> </i> }
                        </input>
                    </form>
                }
            </div>
        </fieldset>
    }

    <form class="form" action="@routes.Application.index()" method="GET">
        <input type="submit" value="Apply changes" class="btn btn-warning"
                @if(Rule.changedRules().size == 0) { disabled="disabled" }>
        or <a href="@routes.Application.cancelChanges()" class="btn">Cancel</a>
    </form>
}
