@(currentPage: Page[Word], currentSortBy: String, currentOrder: String, currentFilter: String)

@link(newPage:Int, newSortBy:String) = @{
    
    var sortBy = currentSortBy
    var order = currentOrder
    
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }
    
    routes.Application.listWords(newPage, sortBy, order, currentFilter)
    
}

@main {

    <h2 class="page-header">Words
        <span class="badge">@currentPage.getTotalRowCount</span>
    </h2>

    @if(flash.containsKey("success")) {
        <div class="alert alert-info">
            <button class="close" data-dismiss="alert">×</button>
            <strong>Done!</strong> @flash.get("success")
        </div>
    }

    <div id="new-word">
        <a class="btn btn-success" href="@routes.Application.newWord()"><i class="icon-file icon-white"> </i> Add a new word</a>
    </div>

    <form class="form-inline form-search" action="@link(0, "text")" method="GET">
        <input type="text" class="search-query" id="searchbox" name="f" value="@currentFilter" placeholder="Filter ..."/>
        <a onclick="parentNode.submit()" class="btn btn-primary"><i class="icon-search icon-white"> </i> Filter </a>
    </form>

    @if(currentPage.getTotalRowCount == 0) {
        
        <div class="alert alert-error">
            <button class="close" data-dismiss="alert">×</button>
            Nothing to display
        </div>
        
    } else {
        
        <table class="table table-condensed words">
            <thead>
                <tr>
                    <th>Text</th>
                    <th>Braille</th>
                </tr>
            </thead>
            <tbody>
                @for(word <- currentPage.getList) {
                    <tr>
                        <td>
                            <a class="edit-word" href="@routes.Application.editWord(word.id)">
                                <strong>@word.text</strong>
                                <i class="icon-pencil"> </i>
                            </a>
                        </td>
                        <td class="braille">
                            <a class="edit-word" href="@routes.Application.editWord(word.id)">
                                @if(word.expected.equals(word.braille)) {
                                    <code class="correct-braille">@word.braille</code>
                                } else {
                                    <code class="wrong-braille">@word.braille</code>
                                    &harr;
                                    <code class="expected-braille">@word.expected</code>
                                }
                            </a>
                        </td>
                        <td><a href="@routes.Application.deleteWord(word.id)" title="Delete word"
                                 class="btn btn-mini btn-warning"><i class="icon-trash icon-white"/></a></td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="span10 pager">
            <ul>
                @if(currentPage.hasPrev) {
                    <li class="previous">
                        <a href="@link(currentPage.getPageIndex - 1, null)">&larr; Previous</a>
                    </li>
                } else {
                    <li class="previous disabled">
                        <a>&larr; Previous</a>
                    </li>
                }
                @if(currentPage.hasNext) {
                    <li class="next">
                        <a href="@link(currentPage.getPageIndex + 1, null)">Next &rarr;</a>
                    </li>
                } else {
                    <li class="next disabled">
                        <a>Next &rarr;</a>
                    </li>
                }
            </ul>
        </div>
    }

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            $("a.edit-word").hover(function() {
                $(this).closest("tr").find("a.edit-word i").css("visibility", "inherit");
            },function(){
                $(this).closest("tr").find("a.edit-word i").css("visibility", "hidden");
           });
        });
    </script>
}
