@(content: Html)

<!DOCTYPE html>
<html>
    <head>
        <title>liblouis inspector</title>
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("css/bootstrap.css")"> 
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("css/main.css")">
        <script type="text/javascript" src="@routes.Assets.at("js/jquery-1.7.1.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("js/bootstrap-alert.js")"></script>
    </head>
    <body>
        <header>
            <h1>liblouis <strong>inspector</strong></h1>
        </header>
        <section>
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span2">
                    </div>
                    <div class="span8">
                        @content
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
