@(content: Html)

@import helper._

<!DOCTYPE html>
<html>
    <head>
        <title>liblouis inspector</title>
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("css/bootstrap.css")"> 
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("css/main.css")">
        <script type="text/javascript" src="@routes.Assets.at("js/jquery-1.7.1.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("js/bootstrap-alert.js")"></script>
    </head>
    <body>
        <header>
            <h1>liblouis <strong>inspector</strong></h1>
        </header>
        <section>
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span2">
                    </div>
                    <div class="span8">
                        @if(flash.containsKey("done")) {
                            <div class="alert alert-info">
                                <button class="close" data-dismiss="alert">×</button>
                                <strong>Done!</strong> @flash.get("done")
                            </div>
                        }
                        @if(flash.containsKey("error")) {
                            <div class="alert alert-error">
                                <button class="close" data-dismiss="alert">×</button>
                                <strong>Error!</strong> @flash.get("error")
                            </div>
                        }
                        @content
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
