@(wordForm: Form[Word])

@import helper._

@main {
    
    <h1>Add a word</h1>
    
    @form(routes.Application.saveWord()) {
        
        <fieldset>
        
            @inputText(wordForm("text"), '_label -> "Text")
            @inputText(wordForm("expected"), '_label -> "Expected braille")

        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Add this word" class="btn primary"> or 
            <a href="@routes.Application.listWords()" class="btn">Cancel</a> 
        </div>
        
    }
}